@model Encryptics.WebPortal.Models.ResetPasswordStatusError
@using Encryptics.WebPortal.Properties
@using Encryptics.WebPortal.Helpers

<p>@Model.GetDisplay()</p>
<p>@Html.Raw(Resources.ResetPasswordErrorInstructions)</p>