<?xml version="1.0"?>
<appSettings>
  <add key="CaptchaEnabled" value="false"/>
  <add key="CaptchaSecret" value="6LeYWxAUAAAAAJAxsv6GzlithgbtNc8k-IkqQwWt" />
  <add key="CaptchaSiteKey" value="6LeYWxAUAAAAANGXOnw4tLFWvxZctmdqH2tReSki" />
  <add key="CompanyLogoUrl" value="~/Images/logo.png" />
  <add key="CompanyLogoAltText" value="Encryptics Logo" />
  <add key="LoginPageLogoUrl" value="/Images/LandingPage-logo.png" />
  <add key="CompanyName" value="Encryptics LLC" />
  <add key="SupportEmail" value="support@encryptics.com" />
  <add key="SupportPhone" value="" />
  <add key="WinDownloadLink" value="https://se01.muzn.ae/installer/windows/katimencryptor.zip" />
  <add key="WinDownload2Link" value="https://se01.muzn.ae/installer/windows/katimencryptorapp.zip" />
  <add key="MacDownloadLink" value="https://se01.muzn.ae/installer/mac/katimencryptor.dmg" />
  <add key="AndroidDownloadLink" value="https://se01.muzn.ae/installer/android/katimencryptor.apk" />
  <add key="iOSDownloadLink" value="itms-services://?action=download-manifest&amp;url=https://se01.muzn.ae/installer/ios/manifest.plist" />
</appSettings>
