<?xml version="1.0"?>
<appSettings>
  <add key="CaptchaEnabled" value="false"/>
  <add key="CaptchaSecret" value="6LeYWxAUAAAAAJAxsv6GzlithgbtNc8k-IkqQwWt" />
  <add key="CaptchaSiteKey" value="6LeYWxAUAAAAANGXOnw4tLFWvxZctmdqH2tReSki" />
  <add key="CompanyLogoUrl" value="~/Images/logo.png" />
  <add key="CompanyLogoAltText" value="Encryptics Logo" />
  <add key="LoginPageLogoUrl" value="/Images/LandingPage-logo.png" />
  <add key="CompanyName" value="Encryptics LLC" />
  <add key="SupportEmail" value="support@encryptics.com" />
  <add key="SupportPhone" value="" />
  <add key="WinDownloadLink" value="https://slicensing.encryptics.net/installer/Suite/EncrypticsUpdateManager.exe" />
  <add key="WinDownloadLink2" value="https://slicensing.encryptics.net/installer/Suite/EncrypticsSuite2007Installer.exe" />
  <add key="MacDownloadLink" value="https://slicensing.encryptics.net/mac/Encryptics.dmg" />
  <add key="AndroidDownloadLink" value="https://slicensing.encryptics.net/android/Encryptics.apk" />
  <add key="iOSDownloadLink" value="https://itunes.apple.com/us/app/encryptics-professional/id512022567?mt=8&amp;uo=4" />
</appSettings>
