<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogLevel="Error"
      internalLogFile="${basedir}/App_Data/logs/nlog-errors.log">

  <extensions>
    <add assembly="NLog.Extended" />
  </extensions>

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    <target name="logfile"
            xsi:type="File"
            fileName="${basedir}/App_Data/logs/webportal.log"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${pad:padding=-5:fixedLength=true:inner=${level:uppercase=true}} ${pad:padding=-25:fixedLength=true:inner=${aspnet-user-identity}} ${whenEmpty:whenEmpty=________________________:inner=${aspnet-sessionid}} ${message}"
            archiveFileName="${basedir}/App_Data/logs/archive/log.${date:format=yyyy-MM-dd}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="iso-8859-2"
            deleteOldFileOnStartup="false" />

    <!--<target name="database"
          xsi:type="Database">-->

      <!-- SQL command to be executed for each entry -->
      <!--<commandText>INSERT INTO AppLog(LogDateTime, LogLevel, UserName, MachineName, EventMessage, ErrorSource, ErrorClass, ErrorMethod, ErrorMessage, InnerErrorMessage) VALUES(@LogDateTime, @LogLevel, @UserName, @MachineName, @EventMessage, @ErrorSource, @ErrorClass, @ErrorMethod, @ErrorMessage, @InnerErrorMessage)</commandText>-->

      <!-- parameters for the command -->
      <!--<parameter name="@LogDateTime" layout="${date:s}" />
      <parameter name="@LogLevel" layout="${level}" />
      <parameter name="@UserName" layout="${identity}" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@EventMessage" layout="${message}" />
      <parameter name="@ErrorSource" layout="${event-context:item=error-source}" />
      <parameter name="@ErrorClass" layout="${event-context:item=error-class}" />
      <parameter name="@ErrorMethod" layout="${event-context:item=error-method}" />
      <parameter name="@ErrorMessage" layout="${event-context:item=error-message}" />
      <parameter name="@InnerErrorMessage" layout="${event-context:item=inner-error-message}" />-->

      <!-- connection string -->
      <!--<dbProvider>System.Data.SqlClient</dbProvider>-->
      <!--<connectionString>Data Source=.\SQLEXPRESS;Initial Catalog=Logging;Integrated Security=True</connectionString>-->
      <!--<connectionString>Data Source=(LocalDb)\v11.0;Initial Catalog=Encryptics.WebPortal;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\Encryptics.WebPortal.mdf</connectionString>-->
      <!--<connectionString>Data Source=dev-sql01;Initial Catalog=WebPortal;User ID=sqlUser;Password=##ENCrypt99##;</connectionString>-->
      <!-- command to install logging database -->
      <!--<install-command>
        <text>CREATE DATABASE Logging</text>
        <connectionString>Data Source=dev-sql01;Initial Catalog=WebPortal;User ID=sqlUser;Password=##ENCrypt99##;</connectionString>
        <ignoreFailures>true</ignoreFailures>
      </install-command>-->

      <!-- command to create logging table -->
      <!--<install-command>
        <connectionString>Data Source=dev-sql01;Initial Catalog=WebPortal;User ID=sqlUser;Password=##ENCrypt99##;</connectionString>
        <ignoreFailures>true</ignoreFailures>
        <text>
          CREATE TABLE AppLog(
          AppLogId int primary key not null identity(1,1),
          LogDateTime datetime,
          LogLevel nvarchar(50),
          UserName nvarchar(50),
          MachineName nvarchar(1024),
          EventMessage nvarchar(MAX),
          ErrorSource nvarchar(1024),
          ErrorClass nvarchar(1024),
          ErrorMethod nvarchar(1024),
          ErrorMessage nvarchar(MAX),
          InnerErrorMessage nvarchar(MAX))
        </text>
      </install-command>

      <uninstall-command>
        <text>DROP TABLE AppLog</text>
        <connectionString>Data Source=dev-sql01;Initial Catalog=WebPortal;User ID=sqlUser;Password=##ENCrypt99##;</connectionString>
        <ignoreFailures>true</ignoreFailures>
      </uninstall-command>-->
      
      <!-- command to drop logging database -->
      <!--<uninstall-command>
        <text>DROP DATABASE Logging</text>
        <connectionString>Data Source=dev-sql01;Initial Catalog=WebPortal;User ID=sqlUser;Password=##ENCrypt99##;</connectionString>
        <ignoreFailures>true</ignoreFailures>
      </uninstall-command>-->

    <!--</target>-->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <!--<logger name="*" minlevel="Trace" writeTo="database" />-->
  </rules>
</nlog>