<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <encryptics xdt:Transform="Replace">
    <corsconfig>
      <origins>
        <add name="default" url="http://192.168.0.7" xdt:Transform="Replace" />
      </origins>
    </corsconfig>
  </encryptics>
  <appSettings>
    <add key="EncrypticsWebSite" value="http://192.168.0.7" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="http://192.168.0.7" xdt:Transform="Replace" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>